@use 'tokens' as *;

.fade-in {
  opacity: 0;
  transform: translateY($spacing-x4);
  transition: opacity $transition-slow, transform $transition-slow;
  will-change: opacity, transform; 

  &_is_visible {
    opacity: 1;
    transform: translateY(0);
  }
}

