@use 'tokens' as *;

.bage {
  display: block;
  width: $rythm-half-row;
  height: $rythm-half-row;
  border-radius: $rythm-half-row;

  &_open {
    background-color: var(--color-bage-open);
  }

  &_busy {
    background-color: var(--color-bage-busy);
  }
}