@font-face {
  font-family: "Golos Text";
  font-display: block;
  src: url('/fonts/GolosText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Golos Text";
  font-display: block;
  src: url('/fonts/GolosText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Dela Gothic One';
  font-display: block;
  src: url('/fonts/DelaGothicOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
