@use 'tokens' as *;
@use 'px-to-rem' as *;

//Layout Grid
$columns: 6;
$rows: 8;

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  min-width: 360px;
}

.layout {
  position: relative;
  min-height: 1200px;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  gap: $spacing-x6;
  padding: $spacing-x6;

  @media (max-width: $breakpoint-small) {
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: $gap-mobile;
    padding: $gap-mobile;
  }

  &_design {
    background-color: var(--color-design-bg);

    @media (max-width: $breakpoint-medium) {
      grid-template-rows: repeat($rows + 1, 1fr);
    }

    .header {
      align-items: center;

      @media (max-width: $breakpoint-small) {
        margin-bottom: $rythm-two-rows;
      }

      .logo {
        display: flex;
        column-gap: $spacing-x2;
        align-items: center;
        justify-content: space-between;
        color: var(--color-title);

        img {
          width: $base-unit * 12;
          height: $base-unit * 12;

          @media (max-width: $breakpoint-small) {
            width: $base-unit * 6;
            height: $base-unit * 6;
          }
        }
      }
    }

    .hero {
      display: flex;
      align-items: center;
      grid-column: span 5;
      grid-row: 2 / span 3;
    }

    .description {
      grid-column: 2 / span 4;
      grid-row: 5 / span 2;
      gap: $rythm-row;

      @media (max-width: $breakpoint-medium) {
        grid-column: 1 / span 5;
      }

      @media (max-width: $breakpoint-small) {
        margin-bottom: $rythm-row * 11;
      }
    }

    .footer {
      position: relative;
      grid-column: span 6;
      grid-row: 8;
      margin: 0 - $gap-desktop;
      padding: $gap-desktop;
      background-color: var(--color-code-bg);
      align-items: end;

      @media (max-width: $breakpoint-medium) {
        grid-row: 8 / span 2;
      }

      @media (max-width: $breakpoint-small) {
        flex-direction: column-reverse;
        margin: 0 - $gap-mobile;
        padding: ($rythm-row * 6) $gap-mobile $gap-mobile $gap-mobile;
        align-items: start;
      }

      .status {
        position: relative;
        display: inline-flex;
        padding-right: $spacing-x3;

        &__bage {
          position: absolute;
          right: 0;
          top: $spacing-x1;
        }
      }
    }

    .design-system {
      position: absolute;
      display: flex;
      right: 0;
      left: 50%;
      top: 0;
      transform: translateY(-50%);
      z-index: 2;

      @media (max-width: $breakpoint-medium) {
        left: $gap-desktop;
      }

      @media (max-width: $breakpoint-small) {
        left: $gap-mobile;
      }

      &__container {
        width: 100%;
        align-self: center;
        background: url("/tube-start.png") repeat-x 0 center;
        clip-path: path("M-4.24133e-06 97.0303C-6.57058e-06 150.317 23.8895 194 53.5001 194L1872.89 194L1872 -3.8697e-08L53.6149 -1.84877e-05C24.0043 -1.9159e-05 -1.91208e-06 43.7432 -4.24133e-06 97.0303Z");
        overflow: hidden;
      }

      &__components {
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: $spacing-x3;
        min-height: 192px;
        padding-left: 100%;
        animation: marquee 20s linear infinite;
      }

      &__cat {
        position: absolute;
        bottom: 100%;
        right: $gap-desktop;

        @media (max-width: $breakpoint-small) {
          right: $gap-mobile;
        }
      }

      &:hover .design-system__components {
        animation-play-state: paused;
      }
    }
  }

  &_development {
    background-color: var(--color-code-bg);

    .description {
      grid-column: 2 / 6;
      grid-row: 2 / 4;
      color: var(--color-text-primary-inverted);
      gap: $rythm-row;

      @media (max-width: $breakpoint-medium) {
        grid-column: 1 / span 5;
      }

      @media (max-width: $breakpoint-small) {
        margin-top: $rythm-two-rows;
        margin-bottom: $rythm-two-rows;
      }
    }

    .hero {
      position: relative;
      display: flex;
      align-items: center;
      grid-column: 2 / 6;
      grid-row: 4 / 7;
      color: var(--color-text-primary-inverted);
      z-index: 2;

      @media (max-width: $breakpoint-small) {
        min-height: 384px;
      }
    }

    .footer {
      grid-column: span 6;
      grid-row: 8;

      @media (max-width: $breakpoint-small) {
        margin-top: $rythm-two-rows;
      }
    }

    .tube {
      display: flex;
      justify-content: end;
      position: absolute;
      left: 0;
      right: calc($gap-desktop + $spacing-x12);
      bottom: 336px;
      overflow: hidden;
      z-index: 1;

      @media (max-width: $breakpoint-medium) {
        right: $gap-desktop;
      }

      @media (max-width: $breakpoint-small) {
        right: 0;
        bottom: $rythm-row * 5;
      }

      img {
        vertical-align: bottom;

        @media (max-width: $breakpoint-small) {
          margin-right: 0 - $spacing-x6;
        }
      }
    }
  }

  &_case {
    grid-template-rows: $rythm-four-rows auto $rythm-four-rows;
    row-gap: $gap-desktop; 
    min-height: auto;
    color: var(--color-text-primary);
    background-color: var(--color-design-bg);

    @media (max-width: $breakpoint-medium) {
      display: flex;
      flex-direction: column;
      gap: $gap-desktop;
      padding: $gap-desktop;
    }

    @media (max-width: $breakpoint-small) {
      gap: $gap-mobile;
      padding: $gap-mobile;
    }

    .description { 
      grid-column: span 2;
      gap: $gap-desktop;

      @media (max-width: $breakpoint-small) {
        gap: $gap-mobile;
      }
    }
  }

  &_history {
    grid-template-rows: $rythm-four-rows auto $rythm-four-rows;
    row-gap: $gap-desktop; 
    min-height: auto;
    color: var(--color-text-primary-inverted);
    background-color: var(--color-code-bg);

    @media (max-width: $breakpoint-medium) {
      display: flex;
      flex-direction: column;
      gap: $gap-desktop;
      padding: $gap-desktop;
    }

    @media (max-width: $breakpoint-small) {
      gap: $gap-mobile;
      padding: $gap-mobile;
    }

    .description { 
      grid-column: span 2;
      gap: $gap-desktop;

      @media (max-width: $breakpoint-small) {
        gap: $gap-mobile;
      }
    }
  }

  &_concept {
    grid-template-rows: $rythm-four-rows auto $rythm-four-rows $rythm-four-rows;
    row-gap: $gap-desktop; 
    min-height: auto;
    color: var(--color-text-primary-inverted);
    background-color: var(--color-case-bg);

    @media (max-width: $breakpoint-medium) {
      display: flex;
      flex-direction: column;
      gap: $gap-desktop;
      padding: $gap-desktop;
    }

    @media (max-width: $breakpoint-small) {
      gap: $gap-mobile;
      padding: $gap-mobile;
    }

    .description { 
      grid-column: span 2;
      gap: $gap-desktop;

      @media (max-width: $breakpoint-small) {
        gap: $gap-mobile;
      }
    }

    .footer {
      grid-column: span 6;
      grid-row: 4;
      margin: 0 - $gap-desktop;
      padding: $gap-desktop;
      align-items: center;
      background-color: var(--color-code-bg);

      @media (max-width: $breakpoint-small) {
        margin: 0 (0 - $gap-mobile) (0 - $gap-mobile) (0 - $gap-mobile);
        padding: $gap-mobile;
        align-items: start;
        gap: 0;
      }
    }
  }

  .header {
    grid-column: span 6;
    grid-row: 1;

    @media (max-width: $breakpoint-small) {
      grid-column: 1;
    }
  }

  .description {
    display: flex;
    flex-direction: column;

    section {
      display: flex;
      flex-direction: column;
      gap: $rythm-row;
    }
  }

  .gallery {
    grid-column: 3 / span 4;
    gap: $gap-desktop;
    margin-right: 0 - $gap-desktop;

    @media (max-width: $breakpoint-small) {
      gap: $gap-mobile;
      margin: 0 (0 - $gap-mobile);
    }
  }

  .footer {
    display: grid;
    position: relative;
    grid-template-columns: subgrid;
    gap: $spacing-x6;
    color: var(--color-text-secondary-inverted); 
    font-size: $font-size-body-secondary;
    line-height: $line-height-body-secondary;

    @media (max-width: $breakpoint-small) {
      display: flex;
      flex-direction: column;
      gap: $gap-mobile;
      align-items: start;
      justify-content: end;
      grid-column: 1;
      grid-row: 7 / -1;
    }

    &__contacts {
      position: relative;
      grid-column: 1 / span 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: $spacing-x1;
      z-index: 2;

      @media (max-width: $breakpoint-medium) {
        grid-column: 1 / span 3;
      }

      @media (max-width: $breakpoint-small) {
        grid-column: auto;
      }
    }

    &__status {
      position: relative;
      grid-column: 2 / span 2;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      gap: $spacing-x1;
      z-index: 2;

      @media (max-width: $breakpoint-medium) {
        grid-column: 4 / span 3;
      }

      @media (max-width: $breakpoint-small) {
        grid-column: auto;
      }
    }

    &__source, &__year {
      position: relative;
      grid-column: 1 / span 3;
      grid-row: 1;
      display: flex;
      z-index: 2;

      @media (max-width: $breakpoint-medium) {
        grid-column: 1 / span 2;
      }

      @media (max-width: $breakpoint-small) {
        grid-column: auto;
      }
    }

    &__handmade {
      grid-column: 4 / span 3;
      grid-row: 1;
      text-align: right;
    }
  
  }
}

@keyframes marquee {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0%);
  }
}