@use 'tokens' as *;
@use 'px-to-rem' as *;

//Layout Grid
$columns: 6;
$rows: 8;
$gap-desktop: $spacing-x6;
$gap-mobile: $spacing-x3;

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  min-width: 360px;
}

.layout {
  position: relative;
  min-height: 1200px;
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  gap: $spacing-x6;
  padding: $spacing-x6;

  @media (max-width: $breakpoint-small) {
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: $gap-mobile;
    padding: $gap-mobile;
  }

  &_design {
    background-color: var(--color-design-bg);

    .header {
      grid-column: span 3;
      align-items: center;

      @media (max-width: $breakpoint-small) {
        margin-bottom: $rythm-two-rows;
      }
    }

    .hero {
      display: flex;
      align-items: center;
      grid-column: span 5;
      grid-row: 2 / span 3;
    }

    .description {
      grid-column: 2 / span 4;
      grid-row: 5 / span 2;
      gap: $rythm-row;

      @media (max-width: $breakpoint-medium) {
        grid-column: 1 / span 5;
      }

      @media (max-width: $breakpoint-small) {
        margin-bottom: $rythm-two-rows;
      }
    }

    .footer {
      grid-column: 1 / span 3;
      grid-row: 8;
      margin: 0 - $gap-desktop;
      padding: $gap-desktop;
      background-color: var(--color-code-bg);

      @media (max-width: $breakpoint-small) {
        flex-direction: column-reverse;
        margin: 0 0 (0 - $gap-mobile) (0 - $gap-mobile);
        padding: $gap-mobile;
      }
    }

    .decor {
      grid-column: 4 / span 3;
      grid-row: 1;
      background-color: var(--color-design-system-bg);
      margin: (0 - $gap-desktop) (0 - $gap-desktop) (0 - $gap-desktop) 0;

      @media (max-width: $breakpoint-medium) {
        display: none;
      }

      @media (max-width: $breakpoint-small) {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: $spacing-x3;
        height: to-rem(120px);
        margin: 0;
      }
    }
  }

  &_development {
    background-color: var(--color-code-bg);

    .description {
      grid-column: 2 / 6;
      grid-row: 2 / 4;
      color: var(--color-text-primary-inverted);
      gap: $rythm-row;

      @media (max-width: $breakpoint-medium) {
        grid-column: 1 / span 5;
      }

      @media (max-width: $breakpoint-small) {
        margin-top: $rythm-two-rows;
      }
    }

    .hero {
      display: flex;
      align-items: center;
      grid-column: 1 / 6;
      grid-row: 4 / 7;
      color: var(--color-text-primary-inverted);

      @media (max-width: $breakpoint-small) {
        margin-bottom: $rythm-two-rows;
      }
    }

    .footer {
      grid-column: 1 / span 3;
      grid-row: 8;
    }
  }

  &_case {
    grid-template-rows: $rythm-four-rows auto $rythm-four-rows;
    row-gap: $gap-desktop; 
    min-height: auto;
    color: var(--color-text-primary);
    background-color: var(--color-design-bg);

    @media (max-width: $breakpoint-medium) {
      display: flex;
      flex-direction: column;
      gap: $gap-desktop;
      padding: $gap-desktop;
    }

    @media (max-width: $breakpoint-small) {
      gap: $gap-mobile;
      padding: $gap-mobile;
    }

    .description { 
      grid-column: span 2;
      gap: $gap-desktop;

      @media (max-width: $breakpoint-small) {
        gap: $gap-mobile;
      }
    }

    .gallery {
      grid-column: 3 / span 4;
      gap: $gap-desktop;
      margin-right: 0 - $gap-desktop;

      @media (max-width: $breakpoint-small) {
        gap: $gap-mobile;
      }
    }
  }

  &_history {
    grid-template-rows: $rythm-four-rows auto $rythm-four-rows $rythm-four-rows;
    row-gap: $gap-desktop; 
    min-height: auto;
    color: var(--color-text-primary-inverted);
    background-color: var(--color-code-bg);

    @media (max-width: $breakpoint-medium) {
      display: flex;
      flex-direction: column;
      gap: $gap-desktop;
      padding: $gap-desktop;
    }

    @media (max-width: $breakpoint-small) {
      gap: $gap-mobile;
      padding: $gap-mobile;
    }

    .description { 
      grid-column: span 2;
      gap: $gap-desktop;

      @media (max-width: $breakpoint-small) {
        gap: $gap-mobile;
      }
    }

    .gallery {
      grid-column: 3 / span 4;
      gap: $gap-desktop;
      margin-right: 0 - $gap-desktop;
    }

    .footer {
      grid-column: 1 / span 3;
      grid-row: 4;

      @media (max-width: $breakpoint-small) {
        margin-top: $rythm-two-rows;
      }
    }

    .decor {
      grid-column: 4 / -1;
      grid-row: 4;
      background-color: var(--color-case-bg);
      margin: (0 - $gap-desktop) (0 - $gap-desktop) (0 - $gap-desktop) 0;

      @media (max-width: $breakpoint-medium) {
        grid-column: 6;
        grid-row: 8;
      }

      @media (max-width: $breakpoint-small) {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: $spacing-x3;
        height: to-rem(120px);
        margin: 0;
      }
    }
  }
}

.header {
  grid-column: span 5;
  grid-row: 1;
  display: flex;
  align-items: start;

  @media (max-width: $breakpoint-small) {
    grid-column: 1;
  }

  .logo {
    display: flex;
    column-gap: $spacing-x2;
    align-items: center;
    color: var(--color-title);
  }
}

.description {
  display: flex;
  flex-direction: column;
}

.footer {
  display: grid;
  position: relative;
  grid-template-columns: subgrid;
  gap: $spacing-x6;
  align-items: center;
  color: var(--color-text-secondary-inverted); 
  font-size: $font-size-body-secondary;
  line-height: $line-height-body-secondary;

  @media (max-width: $breakpoint-medium) {
    grid-column: 1 / span 5;
  }

  @media (max-width: $breakpoint-small) {
    display: flex;
    flex-direction: column;
    gap: $gap-mobile;
    align-items: start;
    justify-content: end;
    grid-column: 1;
    grid-row: 7 / -1;
  }

  &__contacts {
    position: relative;
    grid-column: 1 / span 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: $spacing-x1;
    z-index: 2;

    @media (max-width: $breakpoint-medium) {
      grid-column: 1 / span 2;
    }

    @media (max-width: $breakpoint-small) {
      grid-column: auto;
    }
  }

  &__status {
    position: relative;
    grid-column: 2 / span 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-x1;
    z-index: 2;

    @media (max-width: $breakpoint-medium) {
      grid-column: 3 / span 3;
    }

    @media (max-width: $breakpoint-small) {
      grid-column: auto;
    }
  }

  &__source, &__copy {
    position: relative;
    grid-column: 1 / span 1;
    grid-row: 1;
    display: flex;
    z-index: 2;

    @media (max-width: $breakpoint-medium) {
      grid-column: 1 / span 2;
    }

    @media (max-width: $breakpoint-small) {
      grid-column: auto;
    }
  }
  
}

.design-system {
  display: flex;
  grid-column: 4 / span 3;
  grid-row: 8;
  margin-right: 0 - $gap-desktop;
  margin-top: 0 - $gap-desktop;
  margin-bottom: 0 - $gap-desktop;
  background-color: var(--color-design-system-bg);
  overflow: hidden;
  z-index: 2;

  @media (max-width: $breakpoint-medium) {
    margin: 0;
    grid-column: 6;
    grid-row: span 8;
    margin-right: 0 - $gap-desktop;
    margin-top: 0 - $gap-desktop;
    margin-bottom: 0 - $gap-desktop;
  }

  @media (max-width: $breakpoint-small) {
    display: none;
  }

  &__container {
    width: 100%;
    align-self: center;

    @media (max-width: $breakpoint-medium) {
      transform: rotate(90deg);
    }
  }

  &__components {
    display: inline-flex;
    align-items: center;
    gap: $spacing-x3;
    min-height: 192px;
    padding-left: 100%;
    animation: marquee 20s linear infinite;

    @media (max-width: $breakpoint-medium) {
      min-height: auto;
    }
  }

  &:hover .design-system__components {
    animation-play-state: paused;
  }
}

.status {
  position: relative;
  display: inline-flex;
  padding-right: $spacing-x3;

  &__bage {
    position: absolute;
    right: 0;
    top: $spacing-x1;
  }
}



@keyframes marquee {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}